.root {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 2rem;
}

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 630px;
  height: auto;
  margin: auto;
}

.logo_img {
  width: 196px;
  height: 93.654px;
  margin-bottom: 2rem;
}

.btn {
  margin-top: 1rem;
}

.date {
  border: none;
}
