.input {
  width: 414px;
  height: 40px;
  border-bottom: 1px solid #e0e0e0;
  background: rgba(255, 255, 255, 0.26);
  padding: 8px 12px;
  outline: none;
  border-bottom: 2px solid #e5e7eb; /* gray-200 */
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-bottom-color: var(--color-primary-500);
}
