.root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 630px;
  height: 740px;
  margin: auto;
}

.logo_img {
  width: 196px;
  height: 93.654px;
  margin-bottom: 4rem;
}

.line {
  width: 1px;
  height: 18px;
}
.input {
  margin-top: 2rem;
}

.btn {
  margin-top: 4rem;
}
.btn_admin {
  cursor: pointer;
}

.toggle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.toggle_student,
.toggle_teacher {
  padding: 5px;
  cursor: pointer;
  /* border-bottom: 2px solid #e0e0e0; */
}
